body {
  background: $darkPurple;
  font-family: $font-primary;
}

header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: col(10);
  margin: 50px auto;
  background: $white;
  border-radius: 25px;
  padding: ratio-space(8px) col(1);
}
