h1 {
    font-family: $font-secondary;
    text-align: center;
    font-size: 56px;
    margin-bottom: ratio-space(8px);
}

h4 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}