// COLORS
$green: #75d64c;
$lightPurple: #a596cb;
$darkPurple: #180822;
$lightBlue: #65c6dc;
$mallow: #d6b1d2;
$purple: #4d3c8f;
$darkBlue: #10152f;
$darkGrey: #2e2f32;
$grey: #9093b6;
$lightGrey: #e7eaf9;
$pink: #c055c1;
$white: #ffffff;
$gold: #f0d22e;
$bronze: #c67700;
$red: #e73555;

// GRADIENTS
$blueGradient: linear-gradient(90deg, $darkBlue 0%, $lightBlue 116.65%);
$purpleGradient: linear-gradient(90deg, $darkPurple 0%, $pink 116.65%);

// SHADOW
$buttonShadow: 0px 2px 4px rgba(0, 0, 0, 0.25);