@font-face {
    font-family: Game Of Squids;
    src: url("./fonts/GameOfSquids/GameOfSquids.ttf") format("truetype");
}

@font-face {
    font-family: GT Walsheim Pro;
    src: url("./fonts/GTWalsheimPro/GTWalsheimPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Good Times';
    src: url("./fonts/GoodTimes/GoodTimes.otf") format("opentype");
}

$font-size: 15px;
$font-primary: GT Walsheim Pro, sans-serif;
$font-secondary: Game Of Squids, serif;
$font-tertiary: Good Times, serif;
$font-color: $darkPurple;