<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="shortcut icon" href="/assets/img/favicon.svg" type="image/svg">
    <title>Squizz Game</title>
  </head>

  <body <% if (locals.quizz) { %> style="background: center / cover no-repeat url('/assets/img/quizz/<%= quizz.image  %>'), #180822" <% } %>>