<%- include('_header') %>
<%- include('_menu') %>

<main>
    <h1><%= quizz.nom_quizz %></h1>
    <section id="quizz">
        Récupérer les questions réponses avec fetch et les afficher.
    </section>
</main>

<%- include('_footer') %>