<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="./assets/style.css">
</head>
<body>
    <main>
        <h1>Classement</h1>
        
        <section class="cards quizz-cards">
                <article class="card quizz-card">
                    <a class="card-image" href="/jeu/<%= quizz.id_categorie %>/<%= quizz.id_quizz %>">
                        <img src="/assets/img/jeu/<%= quizz.q_img %>" alt="<%= quizz.nom_quizz %>">
                        <h2 class="card-title"><%= quizz.nom_quizz %></h2>
                    </a>
                    <div class="card-text">
                        <span>01/03/2022</span>
                        <span>Rang :04 </span>     
                        <span>Points : 290</span>
                        <a href="#">Voir le classement</a>
                    </div>
                </article>

                <article class="card quizz-card">
                    <a class="card-image" href="/jeu/<%= quizz.id_categorie %>/<%= quizz.id_quizz %>">
                        <img src="/assets/img/jeu/<%= quizz.q_img %>" alt="<%= quizz.nom_quizz %>">
                        <h2 class="card-title"><%= quizz.nom_quizz %></h2>
                    </a>
                    <div class="card-text">
                        <span>01/03/2022</span>
                        <span>Rang :04 </span>     
                        <span>Points : 290</span>
                        <a href="#">Voir le classement</a>
                    </div>
                </article>
                <article class="card quizz-card">
                    <a class="card-image" href="/jeu/<%= quizz.id_categorie %>/<%= quizz.id_quizz %>">
                        <img src="/assets/img/jeu/<%= quizz.q_img %>" alt="<%= quizz.nom_quizz %>">
                        <h2 class="card-title"><%= quizz.nom_quizz %></h2>
                    </a>
                    <div class="card-text">
                        <span>01/03/2022</span>
                        <span>Rang :04 </span>     
                        <span>Points : 290</span>
                        <a href="#">Voir le classement</a>
                    </div>
                </article>
                <article class="card quizz-card">
                    <a class="card-image" href="/jeu/<%= quizz.id_categorie %>/<%= quizz.id_quizz %>">
                        <img src="/assets/img/jeu/<%= quizz.q_img %>" alt="<%= quizz.nom_quizz %>">
                        <h2 class="card-title"><%= quizz.nom_quizz %></h2>
                    </a>
                    <div class="card-text">
                        <span>01/03/2022</span>
                        <span>Rang :04 </span>     
                        <span>Points : 290</span>
                        <a href="#">Voir le classement</a>
                    </div>
                </article>
                <article class="card quizz-card">
                    <a class="card-image" href="/jeu/<%= quizz.id_categorie %>/<%= quizz.id_quizz %>">
                        <img src="/assets/img/jeu/<%= quizz.q_img %>" alt="<%= quizz.nom_quizz %>">
                        <h2 class="card-title"><%= quizz.nom_quizz %></h2>
                    </a>
                    <div class="card-text">
                        <span>01/03/2022</span>
                        <span>Rang :04 </span>     
                        <span>Points : 290</span>
                        <a href="#">Voir le classement</a>
                    </div>
                </article>
                <article class="card quizz-card">
                    <a class="card-image" href="/jeu/<%= quizz.id_categorie %>/<%= quizz.id_quizz %>">
                        <img src="/assets/img/jeu/<%= quizz.q_img %>" alt="<%= quizz.nom_quizz %>">
                        <h2 class="card-title"><%= quizz.nom_quizz %></h2>
                    </a>
                    <div class="card-text">
                        <span>01/03/2022</span>
                        <span>Rang :04 </span>     
                        <span>Points : 290</span>
                        <a href="#">Voir le classement</a>
                    </div>
                </article>
            
        </section>
    </main>
</body>
</html>