@font-face {
    font-family: "Game Of Squids";
    src: url("../fontss/GameOfSquids/GameOfSquids.ttf") format("ttf");
    font-family: "GT Walsheim Pro";
    src: url("../fontss/GTWalsheimPro/GTWalsheimPro-Regular.ttf") format("ttf");
}

body {
    background: #180822;
}