@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/functions.scss";
@import "libs/responsive.scss";
@import "libs/fonts.scss";
@import "libs/colors.scss";
@import "libs/buttons.scss";
@import "libs/forms.scss";
@import "libs/sections.scss";
@import "libs/titles.scss";

* {
  font: inherit;
  color: inherit;
  border: 0;
}
