%btn {
  text-transform: uppercase;
  font-weight: 500;
  color: $white;
  border-radius: 5px;
  padding: 0px 20px;
}

.btn {
  @extend %btn;
  &_play ,&_mon_compte {
    text-decoration: none;
    background: $blueGradient;
    &:before {
      content: "O ";
      font-family: $font-secondary;
      font-size: 20px;
      color: $green;
    }
  }
  &_edit,
  &_registration {
    background: $purpleGradient;
    box-shadow: $buttonShadow;
    cursor: pointer;
    &:before {
      content: "{ ";
      font-family: $font-secondary;
      font-size: 20px;
      color: $mallow;
    }
  }
  &_connection {
    background: $purpleGradient;
    box-shadow: $buttonShadow;
    cursor: pointer;
    &:before {
      content: "} ";
      font-family: $font-secondary;
      font-size: 20px;
      color: $lightBlue;
    }
  }
}

#btn_avatar, .small-button, .btn_next {
  font-size: 12px;
  font-weight: 300;
  color: $white;
  border-radius: 5px;
  box-shadow: $buttonShadow;
  padding: 5px;
  cursor: pointer;

  // Background transition :
  overflow: hidden;
  position: relative;
  background: transparent;
  z-index: 0;

  &:after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 150%;
    height: 100%;
    background: linear-gradient(90deg, $darkPurple 0%, $pink 100%);
    top: 0;
    left: -50%;
    transition: .3s;
  }

  &:hover {
    &:after {
      left: 0;
    }
  }
}
