main {
    overflow: hidden;
    position: relative;
    .slots {
        position: absolute;
        top: 50%;
        left: 50%;

        div {
            user-select: none;
            position: absolute;
            font-size: 32px;
            font-family: $font-secondary;
            line-height: 1em;

            &.color_1 {
                color: $green;
            }
            &.color_2 {
                color: $lightBlue;
            }
            &.color_3 {
                color: $pink;
            }
        }
    }

    // Pour qu'il soit au dessus
    #quizz_rank_top3 {
        position: relative;
    }
}