.section_avatar {
  height: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  img {
    border-radius: 50%;
    width: 15%;
    margin: 20px;
    cursor: pointer;
  }
}

.reveal_avatar {
  height: 100%;
}

#avatar {
  label {
    width: 15%;
  }
  img {
    border-radius: 50%;
    width: 100%;
  }
}
