//  classement des joueur  top 3
#quizz_rank_top3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  font-weight: 500;
}
//  rank 2
#rank2 {
  width: 150px;
  height: 150px;
  margin: 10px;
  text-align: center;
}
#rank2 > img {
  border-radius: 50%;
  border: solid 5px $grey;
}

.rank2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 19px;
  left: 64px;
  background: $grey;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 1rem;
}

.player_rank2_pts {
  position: relative;
  top: -15px;
}

//  rank 1
#rank1 {
  text-align: center;
  width: 180px;
  height: 180px;
  margin: 10px;
}

#rank1 > img {
  border-radius: 50%;
  border: solid 5px $gold;
}
.rank1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 80px;
  bottom: 19px;
  background: $gold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 1rem;
}

.player_rank1_pts {
  position: relative;
  top: -15px;
}
// rank 3
#rank3 {
  height: 125px;
  width: 125px;
  margin: 10px;
  text-align: center;
}
#rank3 > img {
  border-radius: 50%;
  border: solid 5px $bronze;
}
.rank3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: $bronze;
  position: relative;
  left: 52px;
  bottom: 19px;
}

.player_rank3_pts {
  position: relative;
  top: -15px;
}

// ==== table- rank
#rank4_and_more {
  margin: 0 auto;
  width: 100%;
}

.ranking_table {
  display: flex;
  width: 80%;
  padding: 5px;
  margin: 10px auto;
  background: $purpleGradient;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
  font-weight: 300;
}
.ranking_table > span {
  margin: 5px;
  color: $white;
}

.other_rank_name_player {
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mon_score {
  background: $purpleGradient;
  .other_rank_pts {
    font-size: 21px;
    font-weight: 500;
  }
}

.user_score {
  background: $blueGradient;
  padding: 10px 5px;
  font-weight: 500;
  font-size: 1.2rem;
}

.classement_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: -30px;
    a {
        margin: 5px;
    }
    @media screen and (max-width: 493px) {
        justify-content: center;
    }
}
.classement_link {
    font-weight: 500;
    // position: absolute;
    // bottom: 23px;
    // left: 23px;
}

// ===== responsive  ====

//  ===== middle size  =====

@media #{$media-down-md} {
  .classement_title {
    margin-bottom: 20px;
  }
  #quizz_rank_top3 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  #rank1,
  #rank2,
  #rank3 {
    height: 125px;
    width: 125px;
    margin-bottom: 60px;
  }
  #rank1 {
    order: 1;
  }
  #rank2 {
    order: 2;
  }
  #rank3 {
    order: 3;
  }
  .rank1,
  .rank2 {
    left: 52px;
    bottom: 19px;
  }
  .mon_score > span {
    width: 100%;
    text-align: center;
  }
  .ranking_table > span {
    width: 100%;
    text-align: center;
  }
}
