.mon_score {
  background: $blueGradient;
}
// ===== responsive  ====

//  ===== middle size  =====

@media #{$media-down-md} {
  main {
    //   text-align: center;
    align-items: center;
    justify-content: center;
  }
  .full_size {
    display: none;
  }
  nav .menu_burger {
    display: contents;
  }
}
